.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  font-size: calc(10px + 10vmin);
}

.link {
  color: #b318f0;
}

.instructions {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 32px;
  line-height: 1.3;
}

img {
  padding-bottom: 20px;
  border-radius: 3em;
  max-height: 300px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: center;
}
